{% extends 'base.html' %}

{% block content %}
    <h1>{{ user.username }}, here you can change your password</h1>

    <form action="." method="post">
        {% csrf_token %}
        
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        <table border="1">
            {% for field in form.visible_fields %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>
                        {{ field.errors }}
                        {{ field }}
                        {% comment %} {{ field.help_text }} {% endcomment %}
                    </td>
                </tr>      
            {% endfor %}
        </table>
        <input type="submit" value="change!">
    </form>
    <a href="{% url 'tweets:tweet_list' %}">cancel</a>

{% endblock content %}